# No copiar estos archivos al contenedor
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
.git/
.gitignore
.dvc/
*.md
notebooks/
mlruns/
package/
api/
Guias/
docs/
*.pdf
*.xlsx
aws_credentials.sh
